{% extends 'base.html.twig' %}

{% block title %}Entraineur index{% endblock %}

{% block body %}
    <h1>Entraineur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entraineur in entraineurs %}
            <tr>
                <td>{{ entraineur.id }}</td>
                <td>{{ entraineur.nom }}</td>
                <td>{{ entraineur.prenom }}</td>
                <td>{{ entraineur.age }}</td>
                <td>
                    <a href="{{ path('app_admin_entraineur_show', {'id': entraineur.id}) }}">show</a>
                    <a href="{{ path('app_admin_entraineur_edit', {'id': entraineur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_entraineur_new') }}">Create new</a>
{% endblock %}
